.search{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 400px;
  background-color: rgb(234, 231, 231);
color:rgb(40, 39, 39);

  border-radius: 90px;
  padding: 10px;
  padding-left: 10px;
  padding-left: 10px;
}
input{
  width: 100%;
  border: none;
  background-color: transparent;
padding:5px;
  font-size: 16px;
  outline: none;
}